body {
    font: @font-sm-size/@line-height @font-base;
    background-color: @background-color;
    color: @font-color;
	
	@media (min-width: 768px) {
		& {
		    font: @font-size/@line-height @font-base;
		}
	}
}


@{prefix}-btn-primary {
	background: @header-slider;
	color: #fff;
}

.form-control {
    font: @font-sm-size/@line-height @font-base;
	
	@media(min-width: 768px) {
		& {
		    font: @font-size/1 @font-base;
		}
	}
}


