@{prefix}-footer {
	background-color: #0091d6;
	color: #fff;

	&-body {
		padding: 50px 0;
	}

	& ul {
		padding: 0 0 0 20px;
	}

	& a {
		color: #fff;
	}
}

@{prefix}-copyright {
	border-top: solid 1px rgba(255,255,255,0.25);
	font-size: 10pt;
	padding-top: 15px;
}