@{prefix}-header {
    background: @header-color;
    text-align: left;

    & .navbar-title {
        line-height: 1;
        margin: 0;
        font: 20px/1.6 @font-base;
        letter-spacing: -1px;
        position: relative;
        padding-top: 20px;

        & a {
            color: @header-slider;
            font-weight: 600;
        }

        @media(min-width: 768px) {
            & {
                padding-top: 10px;
                font: 26px/1 @font-base;
            }
        }

        &:before {
            content: '';
            background: transparent url(../img/logo.png) center center no-repeat;
            background-size: 100%;
            width: 70px;
            height: 70px;
            display: block;
            margin: 0 auto;

            @media(min-width: 768px) {
                & {
                    position: absolute;
                    left: 15px;
                    top: -5px;
                }
            }
        }
    }

    & .navbar-tagline {
        color: @font-color;
        font-size: @font-sm-size;
        font-weight: 700;
    }


    @media(min-width: 768px) {
        & .navbar-title,
        & .navbar-tagline {
            padding-left: 100px;
        }

        & .navbar-tagline {
            font-size: @font-size;
        }
    }

}

& @{prefix}-brand {
    position: relative; 
    text-align: center;
    
    & .col-12 {
        border-bottom: solid 1px #eee;
    }

    & .col-4 {
        padding-top: 5px;
        text-align: left;
    }

    & img {
        max-width: 32px;
        margin-bottom: 5px;
    }

    @media(min-width: 768px) {
        & {
            text-align: left;
            padding: 40px 0;
        }
    
        & .col-12 {
            padding-top: 0;
            border-bottom: none;
        }
        
        & img {
            position: absolute;
            left: -35px;
            top: 12px;
            max-width: 42px;
            margin-bottom: 0;
        }
    }

    & p {
        color: @header-slider;
        font-weight: bold;
        font-size: 10pt;
    }

    & strong {
        font-size: 10pt;
    }

    & p,
    & strong {
        line-height: 1;
        margin: 0;
        padding: 0;
    }


    @media(min-width: 768px) {
        & p {
            font-size: 10pt;
            margin: 15px 0 0 0;
        }

        & strong {
            margin: 15px 0 0 0;
            font-size: 12pt;
        }
    }
}

@{prefix}-slider {
    background-color: @header-slider;
    color: #fff;


    & a {
        font-size: 11pt;
        font-family: @font-base;
        color: #fff;
        &:hover {
            color: #fc0;
        }
    }
}

@{prefix}-nav {
    position: fixed;
    width: 100%;
    top: -100px;
    z-index: 1000;
    background: #fff;
    box-shadow: 0 0 10px #ccc;
    transition: top 0.2s ease-in-out;

    &.active {
        top: 0;
    }

    & a {
        font-size: 11pt;
        color: @header-slider;
    }
}

.navbar-toggler-icon {
    background: transparent url(../img/menu.svg) center center no-repeat;
}

.navbar-toggler-icon-alt {
    background: transparent url(../img/menu-alt.svg) center center no-repeat;
}