.item {
	margin-bottom: 40px;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: 6px;
	overflow: hidden;
	line-height: 2;

	&:hover {
		background-color: #f1f1f1;
	}

	& .cover-list {
		min-height: 175px;
		float: left;

		& img {
			vertical-align: middle;
			border-style: none;
			margin: 20px 10px;		
		}
	}

	& .detail-list {
		padding: 10px;
		font-size: 10pt;

		& .titleField {
			font-size: 14pt;
			font-weight: 700;
		}
	}
}

.detailLink {
	background: #eee;
	color: #000;
}