@{prefix}-page {
	padding: 50px 0;

	&-alt {
		background-color: #fff;
	}
}

@{prefix}-jumbotron {
	padding: 30px 0;

	& strong {
		font-weight: 700;
		color: @header-slider;
	}
}

@{prefix}-form-search {
	& button {
		padding: 18px 30px;
		cursor: pointer;
	}
}

.text-sm {
	font-size: @font-sm-size;
}

@{prefix}-page-title {
	padding: 10px 0;
}

