@{prefix}-modal {
	margin: 0;
	padding: 0;

	&-sidebar {
		display: none;		
	}		

	@media(min-width: 768px) {
		&-sidebar {
			position: absolute;
			width: 200px;
			height: 100%;
			display: block;
			left:-1;
			background: #eee url(../img/seo.png) center center no-repeat;
			border-top-left-radius: .3rem;
			border-bottom-left-radius: .3rem;

		}
	}
}