@import url('https://fonts.googleapis.com/css?family=Montserrat|Poppins');
@import url('../css/bootstrap.min.css');
body {
  font: 11pt/1.8 'Montserrat', sans-serif;
  background-color: #f2f2f2;
  color: #333333;
}
@media (min-width: 768px) {
  body {
    font: 12pt/1.8 'Montserrat', sans-serif;
  }
}
.ucs-btn-primary {
  background: #0091d5;
  color: #fff;
}
.form-control {
  font: 11pt/1.8 'Montserrat', sans-serif;
}
@media (min-width: 768px) {
  .form-control {
    font: 12pt/1 'Montserrat', sans-serif;
  }
}
.ucs-header {
  background: #ffffff;
  text-align: left;
}
.ucs-header .navbar-title {
  line-height: 1;
  margin: 0;
  font: 20px/1.6 'Montserrat', sans-serif;
  letter-spacing: -1px;
  position: relative;
  padding-top: 20px;
}
.ucs-header .navbar-title a {
  color: #0091d5;
  font-weight: 600;
}
@media (min-width: 768px) {
  .ucs-header .navbar-title {
    padding-top: 10px;
    font: 26px/1 'Montserrat', sans-serif;
  }
}
.ucs-header .navbar-title:before {
  content: '';
  background: transparent url(../img/logo.png) center center no-repeat;
  background-size: 100%;
  width: 70px;
  height: 70px;
  display: block;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .ucs-header .navbar-title:before {
    position: absolute;
    left: 15px;
    top: -5px;
  }
}
.ucs-header .navbar-tagline {
  color: #333333;
  font-size: 11pt;
  font-weight: 700;
}
@media (min-width: 768px) {
  .ucs-header .navbar-title,
  .ucs-header .navbar-tagline {
    padding-left: 100px;
  }
  .ucs-header .navbar-tagline {
    font-size: 12pt;
  }
}
.ucs-brand {
  position: relative;
  text-align: center;
}
.ucs-brand .col-12 {
  border-bottom: solid 1px #eee;
}
.ucs-brand .col-4 {
  padding-top: 5px;
  text-align: left;
}
.ucs-brand img {
  max-width: 32px;
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .ucs-brand {
    text-align: left;
    padding: 40px 0;
  }
  .ucs-brand .col-12 {
    padding-top: 0;
    border-bottom: none;
  }
  .ucs-brand img {
    position: absolute;
    left: -35px;
    top: 12px;
    max-width: 42px;
    margin-bottom: 0;
  }
}
.ucs-brand p {
  color: #0091d5;
  font-weight: bold;
  font-size: 10pt;
}
.ucs-brand strong {
  font-size: 10pt;
}
.ucs-brand p,
.ucs-brand strong {
  line-height: 1;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .ucs-brand p {
    font-size: 10pt;
    margin: 15px 0 0 0;
  }
  .ucs-brand strong {
    margin: 15px 0 0 0;
    font-size: 12pt;
  }
}
.ucs-slider {
  background-color: #0091d5;
  color: #fff;
}
.ucs-slider a {
  font-size: 11pt;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}
.ucs-slider a:hover {
  color: #fc0;
}
.ucs-nav {
  position: fixed;
  width: 100%;
  top: -100px;
  z-index: 1000;
  background: #fff;
  box-shadow: 0 0 10px #ccc;
  transition: top 0.2s ease-in-out;
}
.ucs-nav.active {
  top: 0;
}
.ucs-nav a {
  font-size: 11pt;
  color: #0091d5;
}
.navbar-toggler-icon {
  background: transparent url(../img/menu.svg) center center no-repeat;
}
.navbar-toggler-icon-alt {
  background: transparent url(../img/menu-alt.svg) center center no-repeat;
}
.ucs-footer {
  background-color: #0091d6;
  color: #fff;
}
.ucs-footer-body {
  padding: 50px 0;
}
.ucs-footer ul {
  padding: 0 0 0 20px;
}
.ucs-footer a {
  color: #fff;
}
.ucs-copyright {
  border-top: solid 1px rgba(255, 255, 255, 0.25);
  font-size: 10pt;
  padding-top: 15px;
}
.ucs-page {
  padding: 50px 0;
}
.ucs-page-alt {
  background-color: #fff;
}
.ucs-jumbotron {
  padding: 30px 0;
}
.ucs-jumbotron strong {
  font-weight: 700;
  color: #0091d5;
}
.ucs-form-search button {
  padding: 18px 30px;
  cursor: pointer;
}
.text-sm {
  font-size: 11pt;
}
.ucs-page-title {
  padding: 10px 0;
}
/* custom */
.ucs-card {
  font-size: 11pt;
}
.ucs-card img {
  width: 128px;
}
.ucs-card strong {
  font-size: 14pt;
  color: #4A86E8;
}
.ucs-modal {
  margin: 0;
  padding: 0;
}
.ucs-modal-sidebar {
  display: none;
}
@media (min-width: 768px) {
  .ucs-modal-sidebar {
    position: absolute;
    width: 200px;
    height: 100%;
    display: block;
    left: -1;
    background: #eeeeee url(../img/seo.png) center center no-repeat;
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem;
  }
}
@media (min-width: 768px) {
  #modalAdvanceSearch form {
    margin-left: 200px;
  }
}
.item {
  margin-bottom: 40px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 6px;
  overflow: hidden;
  line-height: 2;
}
.item:hover {
  background-color: #f1f1f1;
}
.item .cover-list {
  min-height: 175px;
  float: left;
}
.item .cover-list img {
  vertical-align: middle;
  border-style: none;
  margin: 20px 10px;
}
.item .detail-list {
  padding: 10px;
  font-size: 10pt;
}
.item .detail-list .titleField {
  font-size: 14pt;
  font-weight: 700;
}
.detailLink {
  background: #eee;
  color: #000;
}
