// general
@prefix : .ucs;
@font-base : 'Montserrat', sans-serif;
@font-header : 'Poppins', sans-serif;
@font-sm-size : 11pt;
@font-size : 12pt;
@font-color: #333;
@line-height : 1.8;

@background-color: #f2f2f2;
@padding-side : 40px 20px;

// border
@border-color: #f1f1f1;
@border-corner-radius: 4px;

// header
@header-slider: #0091D5;
@header-font-color: #5D5D5D;
@header-color: #fff;
@padding: @padding-side ;

// card
@card-background: #fff;
@card-text: #fff;
