@import url('../css/ionicons.min.css');
@import url('../css/bootstrap.min.css');
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(../fonts/Montserrat-Regular.ttf) format('truetype');
}
/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Regular'), local('Nunito-Regular'), url(../fonts/Nunito-Regular.ttf) format('truetype');
}
body {
  font: 11pt/1.8 'Montserrat', sans-serif;
  background: #fff;
  color: #333333;
}
a:hover {
  text-decoration: none;
}
.u-header {
  margin: 0;
  position: relative;
  z-index: 999;
  box-shadow: 0 0 20px #eee;
  background-color: #386f5b;
}
.u-header__title {
  font-size: 12pt;
}
.u-header__title:hover {
  color: #ffffff !important;
}
.u-header__title,
.u-header__user a {
  display: block;
  line-height: 1;
  padding: 15px 0;
  color: #44b35d;
  font-weight: bold;
}
.u-header__nav {
  background: #fff;
  border-top: solid 1px #f9f9f9;
}
.u-header__nav ul {
  text-transform: lowercase;
  list-style: none;
  padding: 0;
  margin: 0;
}
.u-header__nav ul li {
  display: inline-block;
  text-transform: capitalize;
}
.u-header__nav ul li a {
  display: block;
  padding: 25px 15px;
  font-family: 'Montserrat', sans-serif;
  color: #333333;
  transition: background-color 0.5s ease;
}
.u-header__nav ul li a:hover,
.u-header__nav ul li a.active {
  background-color: rgba(200, 200, 200, 0.1);
}
.u-header__nav ul li a.menucurrent,
.u-header__nav ul li a:hover,
.u-header__nav ul li a.active {
  color: #44b35d;
}
.u-header__nav ul li a.menucurrent,
.u-header__nav ul li a.active {
  position: relative;
  transition: width 0.25s ease-in;
}
.u-header__nav ul li a.menucurrent:before,
.u-header__nav ul li a.active:before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #44b35d;
  height: 5px;
  left: 0;
}
#footer {
  padding: 20px 15px;
  border-top: solid 1px #f9f9f9;
}
.u-main {
  display: flex;
  min-height: 600px;
}
.u-main__menu {
  width: 250px;
  position: relative;
  padding-top: 25px;
  background-color: rgba(200, 200, 200, 0.1);
}
.u-main__menu .subMenuHeader {
  color: #333;
  font-weight: bold;
}
.u-main__menu a,
.u-main__menu .subMenuHeader {
  padding: 8px 15px;
  font-size: 11pt;
}
.u-main__menu a {
  display: block;
  color: #333333;
}
.u-main__menu a:hover,
.u-main__menu a.curModuleLink {
  color: #44b35d;
}
.u-main__contents {
  flex: 1;
  padding: 0;
  margin: 0;
  position: relative;
}
.u-main__contents .per_title {
  border-bottom: solid 1px #f9f9f9;
}
.u-main__contents .per_title h2 {
  font: 16pt/3 'Montserrat', sans-serif;
  font-weight: bold;
  margin-top: 15px;
  padding: 0 15px;
  color: #44b35d;
}
.u-main__contents #dataList {
  background: #fff;
}
.heading {
  font-weight: bold;
}
#datagrid > table {
  background-color: #fff !important;
}
#datagrid > table tr > td {
  padding: 15px;
}
#mainForm > table {
  background-color: #fff !important;
}
#mainForm > table tr > td {
  padding: 15px;
}
.sub_section {
  border-bottom: solid 1px #f9f9f9;
  padding: 25px 15px;
}
.infoBox {
  padding: 15px;
}
/* custom */
.action_button {
  position: absolute;
  right: 15px;
  top: 30px;
}
.action_button a {
  background-color: #464a4e;
  color: #fff;
  padding: 11px 15px;
  border-radius: 4px;
  font-size: 11pt;
  transition: background-color 0.25s ease-in-out;
}
.action_button a:hover {
  background-color: #44b35d;
}
.editFormLink,
.button,
input[type=submit] {
  cursor: pointer;
  background-color: #464a4e;
  color: #fff;
  padding: 7px 15px;
  border: none;
  border-radius: 4px;
  font-size: 11pt;
  font-weight: normal !important;
  transition: background-color 0.25s ease-in-out;
}
.editFormLink:hover,
.button:hover,
input[type=submit]:hover {
  background-color: #44b35d;
}
.editFormLink {
  padding: 11px 15px;
  text-transform: lowercase;
}
.editFormLink:first-letter {
  text-transform: uppercase;
}
.editFormLink:hover {
  color: #fff;
}
.page-item .page-link {
  color: #333;
}
.page-item.active .page-link {
  background-color: #44b35d;
  border-color: #44b35d;
  color: #fff;
}
.pagination {
  margin: 10px 0 0 0;
}
.pagination .page-link {
  border: none;
  border-radius: 0 !important;
  line-height: 1;
}
.confirmSubmit {
  background-color: red;
  color: #fff !important;
}
.confirmSubmit:hover {
  background-color: #cc0000;
}
input[disabled] {
  background-color: #ccc;
  color: #666 !important;
  cursor: default;
}
input[disabled]:hover {
  background-color: #ccc;
  color: #666 !important;
}
.logout span:before,
.reporting span:before,
.system span:before,
.master_file span:before,
.bibliography span:before,
.opac span:before,
.home span:before {
  margin-right: 12px;
  line-height: 1;
  font-family: "Ionicons";
  color: #44b35d;
}
.home span:before {
  content: "\f144";
}
.opac span:before {
  content: "\f20a";
}
.bibliography span:before {
  content: "\f26b";
}
.master_file span:before {
  content: "\f127";
}
.system span:before {
  content: "\f13d";
}
.reporting span:before {
  content: "\f12f";
}
.logout span:before {
  content: "\f29f";
}
.nodesIcon {
  text-align: center;
  font-family: "Ionicons";
  font-size: 48px;
  line-height: 80px;
  width: 100px;
  height: 100px;
  display: block;
  border-radius: 50px;
  border: solid 10px #333;
  margin: 0 15px;
  color: #333;
}
.nodesIcon:before {
  content: "\f1fe";
}
.editLink {
  margin-bottom: -10px;
  text-align: center;
  font-family: "Ionicons";
  line-height: 1;
  color: #44b35d;
  font-size: 18pt;
}
.editLink:before {
  content: "\f12e";
}
.curModuleLink:after {
  margin-left: 20px;
  font-family: "Ionicons";
  content: "\f122";
}
iframe,
textarea,
input[type=text],
input[type=password] {
  border: solid 1px #e0e0e0;
  border-radius: 4px;
  outline: none;
  padding: 5px;
  transition: all 0.25s ease-in-out;
}
iframe:focus,
textarea:focus,
input[type=text]:focus,
input[type=password]:focus {
  border: solid 1px #44b35d;
  background-color: #f9f9f9;
}
select {
  padding: 9px;
  overflow: hidden;
  background: transparent;
  border: solid 1px #e0e0e0;
  border-radius: 4px;
  outline: none;
}
select:focus {
  border: solid 1px #44b35d;
  background-color: #f9f9f9;
}
.dataListHeader {
  text-transform: lowercase;
}
.dataListHeader a {
  color: #44b35d;
}
.dataListHeader td {
  border-bottom: solid 1px #f9f9f9;
}
.dataListHeader td:first-letter {
  text-transform: uppercase;
}
.alterCell td,
.alterCell2 td {
  padding: 15px 0 !important;
  border-bottom: solid 1px #f9f9f9;
}
