.action_button {
	position: absolute;
	right: 15px;
	top: 30px;
	
	& a {
		background-color: #464a4e;
		color: #fff;
		padding: 11px 15px;
		border-radius: @border-corner-radius;
		font-size: 11pt;
		transition: background-color .25s ease-in-out;

		&:hover {
			background-color: @header-base;
		}
	}
}

.editFormLink,
.button,
input[type=submit] {
	cursor: pointer;
	background-color: #464a4e;
	color: #fff;
	padding: 7px 15px;
	border: none;
	border-radius: @border-corner-radius;
	font-size: 11pt;
	font-weight: normal !important;
	transition: background-color .25s ease-in-out;

	&:hover {
		background-color: @header-base;
	}
}

.editFormLink {
	padding: 11px 15px;
	text-transform: lowercase;
	&:first-letter {
		text-transform: uppercase;
	}
	&:hover {
		color: #fff;
	}
}

.page-item {
	& .page-link {		
		color: #333;
	}

	&.active {
		& .page-link {	
			background-color: @header-base;
			border-color: @header-base;
			color: #fff;
		}
	}
}
.pagination {
    margin: 10px 0 0 0;
	& .page-link {
		border: none;
		border-radius: 0 !important;
		line-height: 1;
	}
}

.confirmSubmit {
	background-color: red;
	color: #fff !important;
	&:hover {
		background-color: darken(red,10%);
	}
}

input[disabled] {
	background-color: #ccc;
	color: #666 !important;
	cursor: default;
	&:hover{
		background-color: #ccc;
		color: #666 !important;
	}
}

