iframe,
textarea,
input[type=text],
input[type=password] {
	border: solid 1px darken(@border-color, 10%);
	border-radius: @border-corner-radius;
	outline: none;
	padding: 5px;
	transition: all 0.25s ease-in-out;

	&:focus {
		border: solid 1px @header-base;
		background-color: @border-color;
	}
}

select {
	padding: 9px;
	overflow: hidden;
	background: transparent;
	border: solid 1px darken(@border-color, 10%);
	border-radius: @border-corner-radius;
	outline: none;

	&:focus {
		border: solid 1px @header-base;
		background-color: @border-color;
	}
}
