@{prefix}-header {
    margin: 0;
	position: relative;
	z-index: 999;
    box-shadow: 0 0 20px #eee;
	background-color: #386f5b;

	&__title {
		font-size: 12pt;

		& a:hover {
			color: @header-color !important;		
		}
	}

	&__title,
	&__user a {
		display: block;
		line-height: 1;
		padding: 15px 0;
		color: @header-base;		
		font-weight: bold;
	}

    &__nav {
    	background: #fff;
    	border-top: solid 1px #f9f9f9;

	    & ul {
	    	text-transform: lowercase;
	    	list-style: none;
	    	padding: 0;
	    	margin: 0;

			& li {
				display: inline-block;
				text-transform: capitalize;

				& a {
					display: block;			
					padding: 25px 15px;
					font-family: @font-base;
					color: @font-color;
					transition: background-color 0.5s ease;

					&:hover,
					&.active {
						background-color: rgba(200,200,200,0.1);
					}

					&.menucurrent,
					&:hover,
					&.active {
						color: @header-base;
					}

					&.menucurrent,
					&.active {
						position: relative;
						transition: width 0.25s ease-in;

						&:before {
							content: '';
							position: absolute;
							bottom: 0;
							width: 100%;
							background-color: @header-base;
							height: 5px;
							left: 0;
						}
					}
				}
			}
	    }
	}
}
