.logout,
.reporting,
.system,
.master_file,
.bibliography,
.opac,
.home {
	& span {
		&:before {
			margin-right: 12px;
		    line-height: 1;
		    font-family: "Ionicons";
		    color: @header-base;
		}
	}
}

.home span:before {
	content: "\f144";	
}

.opac span:before {
	content: "\f20a";	
}

.bibliography span:before {
	content: "\f26b";	
}

.master_file span:before {
	content: "\f127";	
}

.system span:before {
	content: "\f13d";	
}

.reporting span:before {
	content: "\f12f";	
}

.logout span:before {
	content: "\f29f";	
}

.nodesIcon {
	text-align: center;
    font-family: "Ionicons";
	font-size: 48px;
	line-height: 80px;	
	width: 100px;
	height: 100px;
	display: block;
	border-radius: 50px;
	border: solid 10px #333;
	margin: 0 15px;
	color: #333;
	&:before {
		content: "\f1fe";
	}
}


.editLink {
	margin-bottom: -10px;
	text-align: center;
    font-family: "Ionicons";
	line-height: 1;	
	color: @header-base;
	font-size: 18pt;

	&:before {
		content: "\f12e";
	}
}

.curModuleLink {
	&:after {
		margin-left: 20px;
	    font-family: "Ionicons";
		content: "\f122";
	}
}