@{prefix}-main {
	display: flex;
	min-height: 474px;

	&__menu {
		width: 250px;
		position: relative;
		padding-top: 25px;
		background-color: rgba(200,200,200,0.1);

		& .subMenuHeader {
			color: #333;
			font-weight: bold;
		}

		& a,
		& .subMenuHeader {
			padding: 8px 15px;
			font-size: 11pt;
		}

		& a {
			display: block;
			color: @font-color;

			&:hover,
			&.curModuleLink {
				color: @header-base;
			}
		}
	}

	&__contents {
		flex: 1;
		padding: 0;
		margin: 0;
		position: relative;

		& .per_title {
			border-bottom: solid 1px @border-color;

			& h2 {
				font: 16pt/3 @font-base;
				font-weight: bold;
				margin-top: 15px;
				padding: 0 15px;
				color: @header-base;
			}	
		}

		& #dataList {
			background: #fff;
		}
	}
}

.heading {
	font-weight: bold;
}

#datagrid {
	& > table {
		background-color: #fff !important;
		& tr > td {
			padding: 15px;
		}
	}
}

#mainForm {
	& > table {
		background-color: #fff !important;
		& tr > td {
			padding: 15px;
		}
	}
}

.sub_section {
	border-bottom: solid 1px @border-color;
	padding: 25px 15px;
}

.infoBox {
	padding: 15px;
}