.dataListHeader {
	text-transform: lowercase;
	
	& a {
		color: @header-base;
	}

	& td {
		border-bottom: solid 1px @border-color;

		&:first-letter {
			text-transform: uppercase;
		}
	}

}


.alterCell,
.alterCell2 {
	& td {
		padding: 15px 0 !important;	
		border-bottom: solid 1px @border-color;
	}
}

