// general
@prefix : .u;
@font-base : 'Montserrat', sans-serif;
@font-header : 'Nunito', sans-serif;
@font-sm-size : 9pt;
@font-size : 11pt;
@font-color: #333;
@line-height : 1.8;

@background-color: #F7F6FD;
@padding-side : 40px 20px;

// border
@border-color: #f9f9f9;
@border-corner-radius: 4px;

// header
@header-base: #44b35d;
@header-slider: #44b35d;
@header-font-color: #5D5D5D;
@header-color: #fff;
@padding: @padding-side ;

// card
@card-background: #fff;
@card-text: #fff;
